<h2>My Listings</h2>
<div class="grid-container">
  @for (item of listings; track $index) {

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{
        item.price | currency : "" : "symbol" : "1.0-0"
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ item.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" [routerLink]="['/listing', item.id]"
        >Details</a
      >
    </mat-card-actions>
  </mat-card>
  }
</div>
<div>
  <a mat-button color="primary" [routerLink]="['/new-listing']">
    <mat-icon>add</mat-icon>
    Create New Listing
  </a>
</div>
